@using MessageBoardClient.Models
@* @model MessageBoardClient.Models *@
<h1>New Message:</h1>

@{
string groupName = "";
}

<form action="/messages" method="post">
  <label for="username">Username</label>
  <input id="username" username="username" type="text">
  <label for="content">Content</label>
  <input id="content" name="content" type="text">
    @Html.Label("Select group:")
  <select id="group" name="group">
     @foreach (Message message in Model)
     {
        @if (groupName != message.Group)
        {
         <option>@message.Group</option>
        }
        groupName = message.Group;
     }
  </select>
  <button type="submit">Go!</button>
</form>