@using MessageBoardClient.Models
@* @model MessageBoardClient.Models.Message *@
<h1>New Message:</h1>

@{
string groupName = "";
}

<form action="/messages" method="post">
  <label for="userName">Username</label>
  <input id="userName" username="userName" type="text">
  <label for="content">Content</label>
  <input id="content" name="content" type="text">
    @Html.Label("Select group:")
  <select id="group" name="group">
     @foreach (Message message in Model)
     {
        @if (groupName != message.Group)
        {
         <option>@message.Group</option>
        }
        groupName = message.Group;
     }
  </select>
  <label for="postDate">Post Date:</label>
  <input type="date" id="postDate" name="postDate">
  <button type="submit">Go!</button>
</form>