@using MessageBoardClient.Models
<h1>All Messages:</h1>

<ol>
@foreach (Message message in Model)
{
    <ul>
        <h3><a href="./?group=@(message.Group)">Group: @message.Group</a></h3>
    
    </ul>
    <a href="/Messages/Details/@(message.MessageId)"><p>View Details</p></a> 
    <br>
}
</ol>