@using MessageBoardClient.Models
@using System.Linq
<h1>All Groups:</h1>

@{
string groupName = "";
}

<ol>
@foreach (Message message in Model)
{
  @if (groupName != message.Group)
  {
    <ul>
        <h3><a href="./?group=@(message.Group)">@message.Group</a></h3>
    </ul>
    <br>
  }
  groupName = message.Group;
}
</ol>

