@using MessageBoardClient.Models
@using System.Linq
<h1>All Groups:</h1>

@{
string groupName = "";
}

<ol>
@foreach (Message message in Model)
{
  @if (groupName != message.Group)
  {
    <ul>
        <h3>@Html.ActionLink($"{message.Group}", "GroupMessages", "Messages", new {groupName = message.Group})</h3>
    </ul>
    <br>
  }
  groupName = message.Group;
}
</ol>

<p>@Html.ActionLink("Home", "Index", "Home")</p>