<h1>All Messages:</h1>

<ol>
@foreach (Message message in Model)
{
    <ul>
        <h3>Group: @message.Group</h3>
        <p>ID: @message.MessageId - User Name: @message.UserName</p>
        <li>Content: @message.Age</li>

    </ul>
    <a href="/Messages/Details/@(messages.MessageId)"><p>View Details</p></a>
    <br>
}
</ol>