

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
    @* range search and username search *@
  <h3>@Html.ActionLink("View all Groups", "Groups", "Messages")</h3>
  @* <p>/)_o(\</p> *@
  <h3>@Html.ActionLink("View all Messages", "Index", "Messages")</h3>
</div>
    </p>
</div>
